* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background-image-custom {
    background-position: right bottom;
    background-size: cover;
}

.logo-custom {
    max-width: 150px;
    height: auto;
}

.custom-outline-btn {
    border: 1px solid white;
    background-color: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.484);
}

.custom-padding {
    padding-right: 230px;
    padding-bottom: 150px;
}

#nombre,
#apellido {
    width: 100%;
    margin-right: 4px;
    display: inline-block;
}

#enviar {
    width: 100%;
}

.custom-footer-menu li a {
    text-decoration: none;
    margin-right: 20px;
}

/* */

/*-- Form --*/

input {
    width: 35%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(197, 195, 195, 0.623);
}

input:focus {
    background-color: rgb(165, 241, 235);
    color: black;
}

textarea {
    width: 635px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(197, 195, 195);
}

textarea:focus {
    background-color: rgb(165, 241, 235);
    color: black;
}

#enviar {
    width: 560px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(197, 195, 195, 0.623);
}

/*-- JavaScript --*/

#Tipos {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#Azul {
    border: 1px solid rgba(0, 0, 255, 0.753);
    padding: 15px;
    margin-right: 10px;
}

#Verde {
    border: 1px solid rgba(0, 102, 255, 0.801);
    padding: 15px;
    margin-right: 10px;
}

#Amarillo {
    border: 1px solid rgb(255, 196, 0);
    padding: 15px;
    margin-right: 10px;
}



/*FORM JAVASCRIPT*/

.titulojs{
    text-align: center;
}
.containerjs{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contact-wrapper0{
    box-shadow: 0 0 5px 0 rgb(14, 45, 42);
}

.contact-wrapper0 >*{
    padding: 1em;
}

.formulariojs form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulariojs form .block {
    grid-column: 1 / 3;
}

.formulariojs form p{
    margin: 0;
    padding: .7em;
}

.formulariojs form button,
.formulariojs form input{
    width: 100%;
    padding: 0.7em;
    margin: 0;
}

.formulariojs form label{
    margin-bottom: 2%;
}

.formulariojs form button{
    background-color: rgb(146, 204, 76);
    border: none;
    color: rgb(255, 255, 255);
    padding: 1em;
}

#categoriajs{
    width: 100%;
    padding: 0.7em;
    border-color: rgb(207, 207, 207);
    color: rgb(125, 125, 125);
}

#valorInput1 {
    width: 100%;
    background-color:rgb(199, 221, 255);
    color: rgb(34, 70, 139);
    height: auto;
    padding: .7em;
    border-color: rgb(125, 168, 233);;
}

@media (max-width: 500px) {
    #Tipos{
        flex-direction: column;
    }

}