.background-image-custom {
    background-position: right bottom;
    background-size: cover;
}

.logo-custom {
    max-width: 150px;
    height: auto;
}

.custom-outline-btn {
    border: 1px solid white;
    background-color: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.484);
}

.custom-padding {
    padding-right: 230px;
    padding-bottom: 150px;
}